// В этом файле должны быть стили для БЭМ-блока insta, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий
@import "../../assets/styles/variables.scss";
@import "../../assets/styles/mixins.scss";

.insta {
	position: relative;
	display: grid;
	grid-template-rows: repeat(2, 425px);
  grid-template-columns: repeat(4, 25%);
}

.insta-title__box h1 span:not(:last-child) {
	display: inline-block;
	margin-right: 35px;
}

.insta-title__box {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	transform: translate(-50%, -50%);
}

.insta-title__box h1 {
	margin: -14px 0 33px;
}

@for $i from 1 through 8 {
  .insta__item:nth-child(#{$i}) {
  	background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url(../img/insta-img_#{$i}.jpg) no-repeat;
		background-size: cover;
  }
}

@media (max-width: 1200px) {

	.insta .insta__item {
		background-position: 50% 50%;
	}

	.insta-title__box .title h1 span:not(:last-child) {
		margin-right: 0;
	}
}

@media (max-width: 768px) {

	.insta {
		grid-template-rows: repeat(4, 425px);
	  grid-template-columns: repeat(2, 50%);
	}
}


@media (max-width: 480px) {

	.insta {
		grid-template-rows: repeat(6, 425px);
	  grid-template-columns: 100%;
	}

	.insta-title__box .title h1 {
		flex-direction: column;
		align-items: center;
		letter-spacing: 15px;    
	}
}