// В этом файле должны быть стили для БЭМ-блока insta, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий
@import "../../assets/styles/variables.scss";
@import "../../assets/styles/mixins.scss";

.insta {
	position: relative;
	display: grid;
	grid-template-rows: repeat(2, 425px);
  grid-template-columns: repeat(4, 25%);
}

.insta-title__box h1 span:not(:last-child) {
	display: inline-block;
	margin-right: 35px;
}

.insta__title {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	transform: translate(-50%, -50%);
}

.insta__title-header {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
	margin: 0;
  padding-left: 30px;
  font-size: 60px;
  line-height: 100px;
  font-weight: 300;
  letter-spacing: .6em;
  color: #fff;
}

.insta__title-descr {
	padding-left: 5px;
	font-size: 30px;
  line-height: 68px;
  font-weight: 700;
  letter-spacing: .4em;
  text-align: center;
  color: #f84545;
}


@for $i from 1 through 8 {
  .insta__item:nth-child(#{$i}) {
  	background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url(../img/insta-img_#{$i}.jpg) no-repeat;
		background-size: cover;
  }
}

@media (max-width: 1200px) {

	.insta .insta__item {
		background-position: 50% 50%;
	}
}

@media (max-width: 768px) {

	.insta {
		grid-template-rows: repeat(4, 425px);
	  grid-template-columns: repeat(2, 50%);
	}

  .footer__nav .nav__list {
    flex-direction: column;
  }

  .insta__title-header {
    padding-left: 0;
    font-size: 36px;
    line-height: 60px;
  }

  .insta__title-descr {
    padding-left: 0;
    font-size: 24px;
    line-height: 40px;
  }
}

@media (max-width: 600px) {

  .insta__title-header {
    font-size: 18px;
  }

  .insta__title-descr {
    font-size: 16px;
  }
}


@media (max-width: 480px) {

	.insta {
		grid-template-rows: repeat(6, 425px);
	  grid-template-columns: 100%;
	}
}