* {
	box-sizing: border-box;
}

div[class*="__container"] {
	display: grid;
	max-width: 1500px;
	width: 100%;
}

.page {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 895px auto auto auto;
	grid-column-gap: 0;
	grid-row-gap: 0;
}

.nav__list {
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
}

.nav__list-item:not(:last-child) {
	margin-right: 70px;
}

.nav__list-item-link {
	font-family: 'ProximaNovaSemibold';
	font-size: 18px;
	letter-spacing: 5.5px;
	color: #fff;
	text-transform: uppercase;
	transition: 0.3s ease-out;
}

.nav__list-item-link:hover {
	color: #f84545;
}

.title h1 {
	text-align: center;
	font-family: 'ProximaNovaLight';	
  font-size: 60px;
  letter-spacing: 31px;
  color: rgb(255, 255, 255);
  line-height: 1.167;  
}

.title div {
	font-family: 'ProximaNovaBold';
	text-align: center;
	font-size: 30px;
	letter-spacing: 13px;
	color: #f84545;
	text-transform: uppercase;
}
