// В этом файле должны быть стили для БЭМ-блока brands, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий
@import "../../assets/styles/variables.scss";
@import "../../assets/styles/mixins.scss";

.brands {
	display: grid;
	justify-items: center;
	background-color: #fff; 
}

.brands__container {
	grid-template-rows: 360px 360px 580px;
  grid-template-columns: repeat(3, 463px);
	padding-top: 83px;
	padding-bottom: 82px;
	grid-gap: 55px;
}

.brands__item {
	overflow: hidden;
}

@for $i from 1 through 6 {
  .brands__item:nth-child(#{$i}) {
  	background: url(../img/brand-img_#{$i}.jpg) no-repeat;
		background-size: cover;
  }
}

.brands__item-link {
	position: relative;
	display: inline-block;
	width: 100%;
	height: 100%;
	color: #fff;
	transition: .3s ease-out;
}

.brands__item-link:hover:after {
	opacity: 0;
}

.brands__item-link:after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: linear-gradient( to top, rgba(26,26,26, 0.7) 0%, rgba(26,26,26, 0) 100%);
	transition: .3s ease-out;
}

.brands__item-descr {
	position: absolute;
	bottom: 30px;
	left: 40px;
	z-index: 2;
}

.brands__item-descr-logo {
	margin-bottom: 22px;
}

.brands__item-descr-name {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	font-family: 'ProximaNovaLight';
	font-size: 40px;
	letter-spacing: 15px;
	text-transform: uppercase;
}

.brands__item:first-child {
	grid-row-start: 1;
	grid-column-start: 1;
	grid-row-end: 3;
	grid-column-end: 3;
}

.brands__item:first-child .brands__item-descr {
	bottom: 47px;
	left: 55px;
}

.brands__item:first-child .brands__item-descr-name {
	font-size: 60px;
	letter-spacing: 25px;
}

@media (max-width: 1500px) {

	.brands__container {
		grid-template-rows: 373px 373px 586px;
	  grid-template-columns: repeat(3, calc(33.33% - 40px/3));
		grid-gap: 20px;
	}
}

@media (max-width: 1054px) {

	.brands__item-descr-name {
		font-size: 24px;
	}
}

@media (max-width: 768px) {

	.brands__container {
		grid-template-rows: repeat(3, 580px);
		grid-template-columns: repeat(2, calc(50% - 40px/2));
	}

	.brnads__item:nt-child(even) {
		grid-column-start: 2;
	}

	.brnads__item:nt-child(odd) {
		grid-column-start: 1;
	}

	.brands__item:first-child {
		grid-row-end: 1;
		grid-column-end: 1;
	}

	.brands__item:first-child .brands__item-descr {
		bottom: 30px;
		left: 40px;
	}

	.brands__item:first-child .brands__item-descr-name {
		font-size: 24px;
		letter-spacing: 25px;
	}
}

@media (max-width: 480px) {

	.brands__container {
		grid-template-rows: repeat(6, 580px);
		grid-template-columns: 100%;
	}
}